<div class="group-name">
    <div class="wrap-back">
        <a href="#/group">
            <span>
                <img src="img/back.png" alt="icon-back">
            </span>
            <span>Back</span>
        </a>
    </div>
    <div class="name">
        {{groupName}}
    </div>
</div>
<!-- end group-name -->
<div class="wrap-statistic">
    <div class="col-md-6 item"><a href="#/statistic/{{groupId}}/post">TOP POST</a></div>
    <div class="col-md-6 item"><a href="#/statistic/{{groupId}}/like">TOP LIKE</a></div>
    <div class="col-md-6 item"><a href="#/statistic/{{groupId}}/comment">TOP COMMENT</a></div>
    <div class="col-md-6 item"><a href="#/statistic/{{groupId}}/spam">TOP SPAM</a></div>
    <div class="clearfix"></div>
</div>
