<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
	<meta http-equiv='Content-Type' content='text/html; charset=UTF-8'>
	<meta name='viewport' content='width=device-width, initial-scale=1.0'>
	<link href='css/bootstrap.min.css' rel='stylesheet' media='screen'>
	<link href='css/home.css' rel='stylesheet' media='screen'>
</head>
<body ng-app="app">
	<div id="fb-root"></div>
	<div class="container-narrow" ng-controller="HomeCtrl">

		<div class="masthead">
			<ul class="nav nav-pills pull-right">
				<fb:login-button scope="email,user_likes,publish_actions"
				show-faces="true" width="200" max-rows="1"></fb:login-button>
			</ul>
			<h3 class="muted">Demo Facebook API</h3>
		</div>

		<div>
			<button class="btn btn-large btn-success" ng-click="getGroups()">Get Groups</button>
		</div>
		<hr>


			<div class="row-fluid">
				<div class="span6">
					<div ng-repeat="item in listGroups">
						<span>{{item.name}}</span><br>
						<button class="btn btn-success"
						ng-click="getGroupStatistic(item.id)">Get group statistics</button>
						<br>
					</div>
				</div>
				<div class="span6">
					<div ng-repeat="item in listStatistic">
						<img src="{{item.avatar}}"></img>
						<a href="{{item.user.link}}">{{item.user.name}}</a>
						<span>    Số lượt đăng bài: {{item.count}}</span>
						<hr>
					</div>
				</div>
			</div>
			<div class="footer">
				<p>© Ha Thanh Toan 2013</p>
			</div>
		</div>

		<script src='js/lib/jquery-1.9.0.min.js' type='text/javascript'></script>
		<script src='js/lib/jquery-ui.min.js' type='text/javascript'></script>
		<script src='js/lib/angular.min.js' type='text/javascript'></script>
		<script src='js/lib/angular-resource.min.js' type='text/javascript'></script>
		<script src='js/app.js' type='text/javascript'></script>
		<script src='js/facebook.js' type='text/javascript'></script>
		<script src="js/lib/angular-file-upload.js" type='text/javascript'></script>
	</body>
	</html>